.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button-download {
    background-color: #4CAF50; /* Green */
}

.button-inspect {
    background-color: #008CBA; /* Blue */
}

.button-remove {
    background-color: #8b0000; /* Red */
}
