{% extends 'base.html' %}
{% load static %}

{% block title %}Export inspect{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'data_extractions/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'data_extractions/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'data_extractions/css/table.css' %}">
{% endblock %}
{% block body %}
    <main>
        <header>
            <h1>Star Wars - People extractions</h1>
        </header>
        <div>
            <form method="post" action="{% url 'data_extractions:save_collection_data' %}">
                {% csrf_token %}
                <button type="submit" class="button-download">Fetch</button>
            </form>
            <table id="extractions">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Export filename</th>
                        <th>Download</th>
                        <th>Inspect</th>
                    </tr>
                </thead>
                <tbody>
                    {% for export in extractions %}
                        <tr>
                            <td>{{ export.created_at }}</td>
                            <td>{{ export.export_name }}</td>
                            <td><a href="{% url 'data_extractions:export_download' export.id %}" class="button-download">Download</a></td>
                            <td><a href="{% url 'data_extractions:export_inspect' export.id %}" class="button-inspect">Inspect</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% with pages=extractions %}
                {% include '_partials/_paginator.html' %}
            {% endwith %}
        </div>
    </main>
{% endblock %}
