{% extends 'base.html' %}
{% load static analysis_filters %}

{% block title %}Export inspect{% endblock %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'data_extractions/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'data_extractions/css/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'data_extractions/css/table.css' %}">
{% endblock %}
{% block body %}
    <main>
        <header>
            <h1>Export - <span class="color-red">{{ export.export_name }}</span> inspect</h1>
        </header>
        <div>
            <table id="extractions">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>height</th>
                        <th>mass</th>
                        <th>hair_color</th>
                        <th>skin_color</th>
                        <th>eye_color</th>
                        <th>birth_year</th>
                        <th>gender</th>
                        <th>homeworld</th>
                        <th>date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in rows_to_display %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% add_get_params request.get_full_path multiplier=multiplier %}" class="button-inspect margin-small-top">
                Load more
            </a>
        </div>
    </main>
{% endblock %}
