{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'AnalysisBase/css/base.css' %}">
    {% block additional_css %}{% endblock %}
</head>
<body>
{% include '_partials/_messages.html' %}
<ul class="navigation">
  <li><a class="active" href="{% url 'data_collections:index' %}">Collections</a></li>
  <li><a href="#">People</a></li>
  <li><a href="#">Worlds</a></li>
</ul>
<div>
    {% block body %}{% endblock %}
</div>
</body>
</html>
